html,
body
{
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}
.header {
  text-align: left;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background: black;
  color: white;
  height: 44px;
  display: flex;
  padding-top: 5px;
  align-items: left;
  font-weight: bold;
  font-size: 24pt;
}
.header img {
  height: 40px;
  margin: 0 8px 0 8px;
}
#viewDiv {
  padding: 0;
  margin: 0;
  height: calc(100% - 49px);
  width: 100%;
}

#infoDiv, #aboutDiv {
    width: 300px;
    background-color: white;
    padding: 10px;
    max-height: 320px;
    overflow: auto;
}
#infoDiv, #aboutDiv h1 {
    font-size: 16px;
}
#infoDiv li {
  font-weight: 500;
}